{% extends "base.html" %}

{% block title %}Список транскрипций{% endblock %}
{% block content %}
<h1>Новые транскрипции</h1>
{% if comics_list %}
<ul class="transcriptions">
{% for comics in comics_list %}
<li>
<a href="{% url transcript.views.show_form comics.cid %}">
<img border=0 src="{{comics.thumbnail.url}}" width=48 height=48 title="{{comics.cid}}: {{comics.title}}" alt="{{comics.title}}">
 {{comics.cid}}: {{comics.title}} ({{comics.repeats}})</a>
{% endfor %}
</ul>
{% else %}
<h2>Нет новых транскрипций</h2>
{% endif %}

{% endblock %}
